<!DOCTYPE html>
<html>
  <head>
    <title>Hello CSHTML</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>This is the letter's title</h1>
    <p>Dear @Model.Recipient,</p>
    <p>This Epicodus curriculum wants me to type out a bunch of different 
      paragraphs.</p>
    <p>I'm going to rebel and only type two.</p>
    <p>I love you, @Model.Recipient. Oops, that was three.</p>
    <p>@Model.Sender</p>
  </body>
</html>