<h1>*kissy noises*</h1>
<p>Dear @Model.Recipient,</p>
<p>Twenty minutes have passed since I last saw you, but I miss you already.</p>
<p>After I finish this page, I'm going to come pet you.</p>
<p>I love you, @Model.Recipient. Oops, that was three.</p>
<p>@Model.Sender</p>